/*------------------------------
        Start Shared CSS 
------------------------------*/

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
}
button:hover {
    opacity: 0.8;
    position: relative;
    bottom: 1px;
}
.bi:hover {
    transition: color 0.1s ease;
}

/*------------------------------
        End Shared CSS 
------------------------------*/








/*-------------------------------------
        Start Header Section CSS 
-------------------------------------*/

header {
    margin: 0 auto;
    padding: 16px 180px 10px 180px;
    box-shadow: 0 4px 2px -2px rgb(236, 234, 234);
}
header nav {
    display: flex;
    justify-content: space-between;
}
header a:hover {
    color: #FF42A5;
}
header nav aside:first-child {
    display: flex;
    margin-top: 5px;
}
#nav-logo {
    width: 84px;
    height: 38px;
    margin-top: 2px;
}
#nav-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    margin: -5px 0 0 10px;
}
#nav-title span {
    color: #FF42A5;
}
header nav aside:last-child {
    display: flex;
    gap: 18px;
}
#list-1, #list-2 {
    display: flex;
    gap: 15px;
    list-style: none;
}
nav ul a {
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
    font-size: 18px;
}
#list-2 {
    background-color: #0b022310;
    margin-top: 6px;
    padding: 10px 15px;
    border-radius: 5px;
}
.bi-youtube::before, .bi-twitter::before {
    margin-bottom: 2px;
}
.bi-youtube:hover {
    color: #F61C0D;
}
.bi-twitter:hover {
    color: #1DA1F2;
}

/*------------------------------------
        End Header Section CSS 
------------------------------------*/








/*-------------------------------------
        Start Main Section CSS 
-------------------------------------*/

/*------ article-1 ------*/
#article-1 {
    padding: 0 180px 0 180px;
    background-image: url(../images/Group\ 14.png);
    background-position: -9px 3px;
    background-repeat: no-repeat;
    background-size: 713px;
    display: flex;
    gap: 63px;
    align-items: center;
}
#article-1 img {
    width: 468px;
    margin-top: 15px;
    position: relative;
    left: 102px;
}
#article-1 aside:first-child {
    width: 358px;
}
#article-1-content-text h2{
    font-size: 48px;
    font-weight: 600;
    color: #0B0223;
    margin: 0;
}
#article-1-content-text h1{
    font-size: 86px;
    font-weight: 800;
    margin: 0;
    background: linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
#article-1-content-text p{
    font-weight: 500;
    font-size: 20px;
    color: #534C64;
}
.bi-play-circle, .bi-download, .bi-people-fill {
    color: #FF42A5;
}
#group-btn {
    display: flex;
    justify-content: space-between;
}
#group-btn button:first-child {
    padding: 15px 35px;
    border: 0;
    border-radius: 100px;
    background-color: #FF42A5;
}
#group-btn button:last-child {
    padding: 15px 35px;
    border: 0;
    border-radius: 100px;
    background-color: #4EC5F7;
}
#group-btn button a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
}


/*------ article-2 ------*/
#article-2 {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 60px 0;
}
#article-2 img {
    width: 500px;
}
#article-2-content {
    text-align: end;
}
#article-2 h1 {
    font-weight: 700;
    font-size: 48px;
    background: linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
#article-2 p {
    font-size: 18px;
    color: #534C64;
}
#article-2 button {
    margin-top: 15px;
    padding: 15px 35px;
    border: 0;
    border-radius: 100px;
    background-color: #FF42A5;
}
#article-2 button a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
}
#article-2 h3 {
    margin-top: 30px;
    color: #534C64;
    font-weight: 500;
}
#article-2 h2 {
    margin-top: -8px;
    font-weight: 700;
    color: #5a487c;
}

/*------ article-3 ------*/
#article-3 {
    max-width: 1000px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#article-3-small-container {
    display: flex;
    gap: 13px;
    justify-content: space-between;
}
#article-3-title {
    color: #0B0223;
    font-weight: 700;
    font-size: 48px;
    margin: 0;
}
#article-3-title span {
    background: linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
#article-3-description {
    color: #534C64;
    margin-top: 10px;
    margin-bottom: 40px;
}
#article-3 aside img {
    width: 240px;
}
#article-3 div:hover img {
    opacity: 0.5;
    transition: opacity 0.1s ease;
}
#article-3 div:hover .bi-play-circle-fill {
    display: block;
    margin-bottom: -42px;
}
.bi-play-circle-fill {
    position: relative;
    bottom: 170px;
    font-size: 35px;
    color: #FF0000;
    display: none;
}
#article-3-small-container h4 {
    color: #534C64;
    font-weight: 500;
    text-align: start;
}

/*------ article-4 ------*/
#article-4 {
    max-width: 1000px;
    margin: 160px auto;
    margin-bottom: 0;
    display: flex;
    gap: 220px;
}
#article-4 section:first-child {
    padding-top: 120px;
}
#article-4-title {
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    text-align: end;
    background: linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
#article-4-title-2 {
    text-align: end;
    color: #0B0223;
    font-weight: 700;
    font-size: 48px;
    margin: 0;
}
#article-4-description {
    text-align: end;
    color: #534C64;
    margin-top: 10px;
    margin-bottom: 40px;
}
#article-4-image-1 {
    width: 400px;
}
#article-4-image-2 {
    width: 200px;
    position: relative;
    top: -180px;
    left: -94px;
}

/*------ article-5 ------*/
#article-5 {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 150px;
}
#article-5 section:last-child {
    padding-top: 120px;
    width: 600px;
}
#article-5-title {
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    background: linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
#article-5-title > span {
    background: linear-gradient(#0B0223, #0B0223);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 48px;
    margin: 0;
}
#article-5-description {
    color: #534C64;
    margin-top: 10px;
    margin-bottom: 40px;
}
#article-5-image-1 {
    width: 400px;
}
#article-5-image-2 {
    width: 200px;
    position: relative;
    top: -142px;
    left: 297px;
}

/*------ article-6 ------*/
#article-6 {
    background-color: #FF42A5;
    padding: 0 0 0 180px;
    display: flex;
    align-items: center;
}
#article-6 h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 48px;
    margin: 0;
}
#article-6 p {
    color: #ffffffaf;
    font-size: 16px;
}
#article-6 #list {
    display: flex;
}
#article-6 #list ul {
    list-style: none;
    color: #FFFFFF;
}
#article-6 #list ul li {
    line-height: 30px;
    font-size: 14px;
}
#list-topic {
    margin-left: -40px;
}
#list-address {
    text-align: end;
}
#article-6 button {
    margin-top: 15px;
    padding: 15px 35px;
    border: 0;
    border-radius: 100px;
    background-color: #FFFFFF;
}
#article-6 button a {
    text-decoration: none;
    color: #FF42A5;
    font-weight: 500;
    font-size: 18px;
}
#article-6 img {
    width: 700px;
}

/*------ article-7 ------*/
#article-7 {
    max-width: 1000px;
    margin: 110px auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
#article-7 section {
    display: flex;
    gap: 35px;
}
#article-7 section:last-child {
    margin: 0 auto;
}
#article-7 section div {
    display: flex;
    gap: 5px;
}
.article-7-images {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
.article-7-item-title {
    color: #0B0223;
    font-weight: 500;
}
#article-7 div:hover .article-7-item-title {
    color: #FF42A5;
}
#article-7 div:hover {
    border: 1px solid #FF42A5;
    border-radius: 30px 30px;
    padding: 5px 5px 0 5px;
    margin: -6px -6px;
}

/*------------------------------------
        End Main Section CSS 
------------------------------------*/








/*-------------------------------------
        Start Footer Section CSS 
-------------------------------------*/

footer {
    background-color: #0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer ul {
    list-style: none;
    display: flex;
    gap: 40px;
}
footer ul li a{
    text-decoration: none;
}
#footer-list-1 {
    display: flex;
    align-items: center;
    gap: 10px;
}
#footer-list-1 img {
    width: 75px;
    margin-top: 5px;
}
#footer-title {
    font-size: 45px;
    font-weight: 700;
    color: #FFFFFF;
}
#footer-title span {
    color: #FF42A5;
}
#footer-list-2  a {
    color: #FFFFFF;
}
#footer-list-2 a:hover {
    text-decoration: underline;
    color: #FF42A5;
}
#footer-list-4 a, footer p {
    color: #ffffff60;
}
#footer-list-4 a:hover {
    text-decoration: underline;
    color: #FF42A5;
}
/* style icons */
.footer-icons {
    color: #FFFFFF;
    font-size: 25px;
}
.bi-facebook:hover {
    color: #1877F2;
}
.bi-linkedin:hover {
    color: #0077B5;
}
.bi-instagram:hover {
    color: #F56040;
}

/*------------------------------------
        End Footer Section CSS 
------------------------------------*/








/*-------------------------------------------
        Start  Media-QUERY Mobile CSS 
-------------------------------------------*/

@media only screen and (max-width: 720px) {
    body {
        margin-left: -10px;
    }

    /*---- header section ----*/
    header {
        margin: 0 auto;
        padding: 0 10px;
    }
    header nav {
        display: flex;
        flex-direction: column;
    }
    header nav aside:first-child {
        display: flex;
        margin-top: 5px;
        justify-content: center;
    }
    header nav aside:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-top: 5px;
    }
    #list-1 {
        padding-left: 0;
    }
    nav ul a {
        text-decoration: none;
        color: #3C354F;
        font-weight: 500;
        font-size: 17px;
    }
    /*----- article-1 -----*/
    #article-1 {
        padding: 0 5px 0 5px;
        display: flex;
        gap: 63px;
        align-items: center;
        flex-direction: column-reverse;
        padding-left: 20px;
    }
    #article-1 img {
        width: 362px;
        margin-top: 15px;
        position: relative;
        left: 0;
    }
    

    /*------ article-2 ------*/
    #article-2 {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        padding: 60px 10px;
        flex-direction: column;
        padding-left: 20px;
    }
    #article-2 img {
        width: 360px;
    }
    #article-2-content {
        text-align: center;
    }

    /*------ article-3 ------*/
    #article-3 {
        padding: 0 10px;
        padding-left: 20px;
    }
    #article-3-small-container {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 25px;
        column-gap: 10px;
    }
    #article-3 aside img {
        width: 173px;
    }
    #article-3 aside h4 {
        margin-top: 10px;
    }
    .bi-play-circle-fill {
        position: relative;
        bottom: 135px;
    }
    /*------ article-4 ------*/
    #article-4 {
        max-width: 1000px;
        margin: 160px auto;
        margin-bottom: 0;
        padding: 0 10px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding-left: 20px;
    }
    #article-4-image-1 {
        width: 300px;
        position: relative;
        left: 54px;
    }
    #article-4-image-2 {
        width: 164px;
        position: relative;
        top: -131px;
        left: -4px;
    }

    /*------ article-5 ------*/
    #article-5 {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        gap: 50px;
        flex-direction: column-reverse;
        padding-left: 20px;
    }
    #article-5-image-1 {
        width: 298px;
    }
    #article-5-image-2 {
        width: 140px;
        position: relative;
        top: -108px;
        left: 219px;
    }
    #article-5 section:last-child {
        padding-top: 0px;
        width: 350px;
    }

    /*------ article-6 ------*/
    #article-6 {
        background-color: #FF42A5;
        padding: 0 10px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        padding-left: 20px;
    }
    #article-6 img {
        width: 370px;
        margin-bottom: 20px;
    }
    #article-6 #list {
        display: flex;
        gap: 24px;
    }
    #article-6 #list ul li {
        line-height: 30px;
        font-size: 10px;
    }

    /*------ article-7 ------*/
    #article-7 {
        padding: 0 10px;
        display: grid;
        grid-template-columns: auto;
        padding-left: 30px;
    }
    .article-7-images {
        width: 30px;
        height: 30px;
        margin-top: 1px;
    }
    #article-7 section {
        display: grid;
        grid-template-columns: auto auto;
        gap: 41px;
    }
    .article-7-item-title {
        font-size: 11px;
    }
    

    /*------- footer-css --------*/
    footer {
        padding: 5px 10px;
    }
    #footer-list-1 {
        padding: 0;
    }
    #footer-list-2 {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 0;
        row-gap: 10px;
    }
    #footer-list-4 {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0;
        row-gap: 10px;
    }
    footer p {
        width: 100%;
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        padding: 0;
    }
}

/*----------------------------------------
        End  Media-QUERY Mobile CSS 
----------------------------------------*/











/*-------------------------------------------
        Start  Media-QUERY Tablet CSS 
-------------------------------------------*/

@media screen and (min-width: 721px) and (max-width: 1080px) {
    /*-----  header css  -----*/
    header {
        margin: 0 auto;
        padding: 0 10px;
    }
    /*----- article-1 -----*/
    #article-1 {
        padding: 10px;
        background-image: url(../images/Group\ 14.png);
        background-position: -177px 3px;
        background-size: 800px;
        justify-content: center;
    }
    #article-1 img {
        width: 375px;
        margin-top: 15px;
        position: relative;
        top: 3px;
        left: -7px;
    }
    
    /*------ article-2 ------*/
    #article-2 {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        padding: 60px 10px;
    }

    /*------ article-3 ------*/
    #article-3 {
        padding: 0 10px;
    }
    #article-3-small-container img {
        width: 234px;
    }

    /*------ article-4 ------*/
    #article-4 {
        max-width: 1000px;
        margin: 160px auto;
        margin-bottom: 0;
        display: flex;
        gap: 160px;
    }

    /*------ article-6 ------*/
    #article-6 {
        background-color: #FF42A5;
        padding: 0 10px;
        display: flex;
        align-items: center;
    }
    #article-6-data {
        margin: 10px 0;
    }
    #article-6 h1 {
        font-size: 36px;
    }
    #article-6 p {
        font-size: 14px;
        margin-bottom: 5px;
    }
    #article-6 #list {
        font-size: 14px;
    }
    #article-6 img {
        width: 500px;
    }
    #article-6 button {
        padding: 13px 30px;
        margin-top: 5px;
    }

    /*------ article-7 ------*/
    #article-7 {
        padding: 0 20px;
    }
    #article-7 section {
        display: flex;
        gap: 31px;
    }
}

/*-------------------------------------------
        End Media-QUERY Tablet CSS 
-------------------------------------------*/
